
html{
	height: 100%;
	scroll-behavior: smooth;
}

body {
	font: 400 15px/1.8 Roboto, sans-serif;
	color: #777;
	height:100%;
	margin: 0;
	font-weight: lighter;
}

.quotes{
	background: #c2e59c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
	min-height: 35%;
}
.carousel-content {
	font-family: lato, sans-serif;
	letter-spacing: 2px;
	font-size: 15px;
	color:white;
	display:flex;
	align-items:center;
}

#text-carousel {
	width: 100%;
	padding-top: 4%;
	padding-bottom: 4%;
}

canvas{ display: block; vertical-align: bottom; }

/* ---- particles.js container ---- */
#particles-js{
	width: 100%;
	height: 100vh;
	background-color: black;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%; }

	#members_here .fa {
		color: #404040;
		font-size: 20px;
		width: 20px;
		text-decoration: none;
		border-radius: 50%;
		transition: .4s;
		transform: translate(0px,-30px);
	}

	#members_here .fa-facebook-official:hover {
		font-size: 21px;
		color: #4267b2;
	}

	#members_here .fa-linkedin-square:hover {
		font-size: 21px;
		color: #4875B4;
	}

	h1{
		font-family: montserrat, sans-serif;
		color: #111;
	}

	h3{
		font-family: lato, sans-serif;
		color: #111;
		letter-spacing: 1px;
		line-height: 35px;
	}

	#logo{
		-ms-transform: translate(0px, -5px); /* IE 9 */
		-webkit-transform: translate(0px, -5px); /* Safari */
		transform: translate(0px, -5px);
	}

	#foot{
		color: white;
		font-size: 20px;
	}

	#foot:hover{
		color: #4267b2;
	}

	#about-us-logo{
		-ms-transform: translate(-10px, -5px); /* IE 9 */
		-webkit-transform: translate(-10px, -5px); /* Safari */
		transform: translate(-10px, -5px);
	}

	#events{
		background: #c2e59c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	

		/*background: url("img/event.jpg") fixed ;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;*/
	}

	.profile {
		font-size: 25px;
		transition: .3s;
	}

	.profile:hover{
		background-color: blue;
	}

	.quote h4{
		color: black;
		text-align: right;
	}
	.btn {
		font-size: 15px;
		font-family: lato, sans-serif;
		font-weight: 500;
		letter-spacing: 1px;
		padding: 10px 20px;
		background-color: #333;
		color: white;
		border-radius: 30px;
		transition: .4s;
	}

	.btn:hover, .btn:focus {
		border: 1px solid #333;
		background-color: #fff;
		color: #000;
	}

	.navbar{
		opacity: 0;
		background-color: transparent;
		border: none;
		font-family: montserrat;
		border-radius: 0;
		/*opacity: 1;*/
	}

	.solid {
		opacity: 1;
		background-color: black;
		transition: background-color 1s ease 0s;
		transition: opacity 1s ease 0s;
		/*box-shadow: 0 0 5px grey;*/
	}

	.navbar li a{
		color: #d5d5d5 !important;
		font-size: 17px;
		padding: 18px!important;
		transition: .3s;
	}

	.navbar-nav li a:hover {
		color: white !important;
	}

	.navbar-nav li.active a {
		color: #fff !important;
		background-color: #29292c !important;
	}

	.person{
		border: 10px solid transparent;
		transition: .6s;
		overflow: hidden;
	}

	.person:hover{

		-webkit-transform: scale(1.08);
		transform: scale(1.08);

	}

	.logo-small {
		color: #fff0ff !important;
		font-size: 60px;
	}

	hr{
		border: 1px solid black;
		width: 10%;
	}

	.centered{
		position: absolute;
		top: 30%;
		-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
		animation-name: example;
		animation-duration: 5s;

	}

	@-webkit-keyframes example {
		from {opacity: 0;}
		to {opacity: 1;}
	}

	/* Standard syntax */
	@keyframes example {
		from {opacity: 0;}
		to {opacity: 1;}
	}

	.slideanim {visibility:hidden;}

	.slide {
		animation-name: slide;
		-webkit-animation-name: slide;
		animation-duration: 1s;
		-webkit-animation-duration: 1s;
		visibility: visible;
	}
	@keyframes slide {
		0% {
			opacity: 0;
			transform: translateY(70%);
		}
		100% {
			opacity: 1;
			transform: translateY(0%);
		}
	}
	@-webkit-keyframes slide {
		0% {
			opacity: 0;
			-webkit-transform: translateY(70%);
		}
		100% {
			opacity: 1;
			-webkit-transform: translateY(0%);
		}
	}

	#gallery{
		text-align: center;
	}

	.carousel-control.left, .carousel-control.right {
		background-image:none;
	}

	.img-responsive{
		width:100%;
		height:auto;
	}

}
.nospace {
	font-size: 0;
}
.bg-dark {
	background-color: #444;
	color: #fff;
}
aside {
	padding: 30px 0;
}
.container_image a {
	margin-top: 5px;
	display: block;
	-webkit-transition: all 0.5s  ease-out; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; transition: all 0.5s ease-out;
	text-align:center;
	opacity:1;
}
.container_image:hover a {
	visibility:visible;
	opacity:0.5;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.footer{
	background-color: black;
	color: white; 
	font-family: Open Sans!important;
	font-size: 17px!important;
}

.footer h4{
	font-size: 20px!important;
}
.footer a{
	text-decoration: none;
}

.footer .social a
{
	color: white;
}
/* Scale canvas with resize attribute to full size */
canvas[resize] {
	width: 100%;
	height: 100%;
}
